@import "macchiato.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 90px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* Style for the active (focused) workspace button */
#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.2);  /* Indicate the active workspace */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

/* Style for hovered workspace buttons */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Style for urgent workspace buttons */
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
background-color: rgba(0, 0, 0, 0);	
    /*background-color: #64727D;*/
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
    padding: 0 10px;
}

#pulseaudio {
    color: @maroon;
}

#network {
    color: @yellow;
}

#temperature {
    color: @sky;
}

#battery {
    color: @green;
}

#clock {
    color: @flamingo;
}

#window {
    color: @rosewater;
}

.modules-right, .modules-left, .modules-center {
    background-color: @base;
    border-radius: 8px;
}

.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: @text;
}
