[Unit]
Description=Battery notification check

[Service]
Type=oneshot
ExecStart=/home/vishal/Desktop/DotFiles/script/.config/script/battery_notify.sh
